html, body, #root {
  height: 100%;
  width: 100%;
}

body {
  font-family: '-apple-system', 'BlinkMacSystemFont', 'Segoe UI', 'Helvetica', 'Arial,sans-serif', 'Apple Color Emoji', 'Segoe UI Emoji';
  overflow: hidden;
}

input[type="text"] {
  border: 1px solid #ccc;
  border-radius: 5px;
  outline: none;
  width: 200px;
  padding: 5px;
  line-height: 15px;
  height: 20px;
  font-size: 13px;
}

input[type="checkbox"] {
  margin-right: 15px;
}
